<!DOCTYPE html>
<html style="background-color: #363636;">
  <head>
    <meta charset="utf-8">
    <meta name="twitter:title" content="Deadside Server Viewer">
    <meta name="twitter:description" content="Online server viewer for Deadside.">
    <meta name="twitter:image" content="https://deadsidesv.com/assets/twitter.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content="European Travel Destinations">
    <meta property="og:description" content="Online server viewer for Deadside.">
    <meta property="og:image" content="https://deadsidesv.com/assets/twitter.png">
    <meta property="og:url" content="http://deadside.sv/">
    <meta name="twitter:site" content="@maxbridgland">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Online server viewer for Deadside">
    <meta name="keywords" content="Deadside Servers, Deadside Game, Deadside, Bad Pixel, Deadside Server Viewer, DeadsideSV, Steam Games">
    <meta name="robots" content="index,follow">
    <meta name="DC.title" content="View Your Favorite Servers Without Needing To Load The Game!">
    <script data-ad-client="ca-pub-9279253230674491" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>Deadside Server Viewer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <section class="hero is-dark is-medium">
        <div class="hero-head">
            <div class="container">
                <a href="/">
                    <img src="https://deadsidesv.com/assets/logo.png" alt="logo" width="175px" height="83px">
                </a>
            </div>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h2 class="title">
                    View What Servers Are Online Right Now Without Logging Into The Game!
                </h2>
                <p class="subtitle">
                    Updated every minute. Not officially affiliated with Deadside! <br>
                    <p>Play on our Official Deadside Server, Just Search "Official Deadside SV" or use
                    <strong style="color: white;">Our IP: </strong>92.223.66.100:28600</p>
                </p>
                <p class="subtitle">Created by <a href="https://twitter.com/maxbridgland">@maxbridgland</a></p>
            </div>
        </div>
        <div class="hero-foot">
            
        </div>
    </section>
    <section class="hero is-dark">
        <div class="hero-body">
            <form action="https://deadsidesv.com/search" method="GET">
                <div class="field has-addons">
                    <div class="control" style="width: 100%;">
                      <input class="input" type="text" placeholder="Search For A Server" name="q">
                    </div>
                    <div class="control" >
                      <button type="submit" class="button is-light">
                        Search
                      </button>
                    </div>
                  </div>
            </form>
            <br>
            <table class="table" width="100%">
                <thead>
                    <tr>
                        <th>Server Rank</th>
                        <th>Server Title</th>
                        {% if filter == "uptime" %}
                        <th><a href="https://deadsidesv.com/?filter=-uptime">Uptime 🠕</a></th>
                        {% elif filter == "-uptime" %}
                        <th><a href="https://deadsidesv.com/?filter=uptime">Uptime 🠗</a></th>
                        {% else %}
                        <th><a href="https://deadsidesv.com/?filter=uptime">Uptime</a></th>
                        {% endif %}
                        {% if filter == "players" %}
                        <th><a href="https://deadsidesv.com/?filter=-players">Players Online 🠕</a></th>
                        {% elif filter == "-players" %}
                        <th><a href="https://deadsidesv.com/?filter=players">Players Online 🠗</a></th>
                        {% else %}
                        <th><a href="https://deadsidesv.com/?filter=players">Players Online</a></th>
                        {% endif %}
                        <th>Max Players</th>
                        <th>IP Address</th>
                        <th>Capacity Ratio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for table in tables %}
                        {{table | safe}}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Deadside Server Viewer</strong> by <a href="https://github.com/M4cs">Max Bridgland</a>. The Deadside Logo and all names are trademarks of Bad Pixel.
          </p>
        </div>
      </footer>
  </body>
</html>